/*GENERAL*/
img{
    max-width: 100%;
}
header{
    height: 60px;
}
.ms-aside{
    width: 80px;
    height: calc(100vh - 60px);
    background-color: aqua;
}
.ms-main{
    height: calc(100vh - 60px);
    width: 100%;
    overflow-y: auto;
}
.ms-options{
    margin-top: auto;
}

/*HEADER*/
.logo{
    max-width: 60px;
}
.ms-search{
    border: none;
    background-color: transparent;
    width: 100%;
}
.ms-bg-search{
    background-color: rgb(224, 224, 224);
    border-radius: 6px;
}
.ms-bell{
    background-color: transparent;
    border: none;
    color: rgb(247, 160, 0);
    font-size: 20px;
}
.ms-bell:hover{
    background-color: transparent;
    color: rgb(247, 160, 0);
}