/*GENERAL*/
img{
    max-width: 100%;
}
header{
    height: 60px;
}
.ms-aside{
    width: 100px;
    height: calc(100vh - 60px);
    background-color: #051e34;
    background-image: url("./img/sidebar-bg.png");
}
.ms-main{
    height: calc(100vh - 60px);
    width: 100%;
    overflow-y: auto;
}
.ms-options{
    margin-top: auto;
}

/*HEADER*/
.logo{
    max-width: 60px;
}
.ms-search{
    border: none;
    background-color: transparent;
    width: 100%;
}
.ms-bg-search{
    background-color: rgb(224, 224, 224);
    border-radius: 6px;
}
.ms-bell{
    background-color: transparent;
    border: none;
    color: rgb(247, 160, 0);
    font-size: 20px;
}
.ms-bell:hover{
    background-color: transparent;
    color: rgb(247, 160, 0);
}

/*ASIDE*/
.ms-aside ul{
    list-style: none;
}
.ms-aside ul {
    font-size: 20px;
}

/*MAIN*/
/*section students*/
.section{
    width: 100%;
    background-color: #1b72e8;
}
.ms-btn-plus{
    font-size: 20px;
    color: white;
    border: 1px solid white;
    padding: 5px 12px 5px 12px;
    background-color: transparent;
    border-radius: 6px;
    cursor: pointer;
}
.ms-student{
    padding-top: 6px;
}
.ms-btn-plane{
    color: white;
    border: none;
    background-color: #165bba;
    border-radius: 20px;
    margin-left: 10px;
    padding: 0 8px;
}
.ms-btn-other{
    padding-bottom: 3px;
}
#offcanvasRight{
    width: 100%;
}
/*section class*/
.ms-card-title{
    background-color: #f7f7f7;
    border-bottom: 2px solid rgb(222, 222, 222);
}
.ms-grid{
    border: 2px solid rgb(222, 222, 222);
}
.ms-row-grid{
    margin: 10px;
    border: 1px solid rgb(222, 222, 222);
}
.ms-grid-stats{
    margin: 10px 0;
}
.ms-bottom-grid{
    border-bottom: 1px solid rgb(222, 222, 222);
}

/*MEDIA QUERY*/
@media screen and (min-width:992px){
    .ms-aside{
        width: 180px;
    }
    .ms-order{
        order: 1;
    }
    #offcanvasRight{
        width: 50%;
    }
}